<html>
<body>

        <p align="center"><a href="{SISTEMA_URL}"><img src='{SISTEMA_URL}/images/logo.png' border='0' ></a></p>



		<br /><br />
		Sr/a. <b>{USUARIO_NOMBRE}</b> :<br />
		Bienvenido al sistema
		&nbsp; &nbsp; <br /><br />
		Los datos asignados para el acceso inicial son los siguientes:<br />
		Usuario: <b>{EMAIL}</b>
		<br />
		Contraseña: <b>{PWD}</b>
		<br />
		Codigo de Empresa: <b>{CODIGO}</b>
		<br />
		<br />
		<br />
		Para ingresar a operar debera hacerlo desde
		<a href="{SISTEMA_URL}">Aqui</a><br /><br />
<br />
</body>
</html>